body {
    background-color: white;
    background: white;
    font-family: 'Orbitron', sans-serif;
}

.comments {
    border:1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    background: white;
}

.commentContent {
    background: rgb(255, 255, 255);
}

.commentSection {
    background: rgb(255, 255, 255);
}

.homeGiphy {
    margin: 0 auto;
    display: block;
    border:1px solid black;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    margin-top: 15px;
    margin-bottom: 10px;

}

.mainFormHeader {
    text-align: center;
}

.addCommentLink {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.tradingview-widget-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}